HealthSmartWebApp/HealthSmartWebApp/Service References/InsuranceClaimServiceReference/InsuranceClaimService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InsuranceClaimService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50107/InsuranceClaimService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50107/InsuranceClaimService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50107/InsuranceClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InsuranceClaimService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInsuranceClaimService_GetInsuranceClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceClaim" />
  </wsdl:message>
  <wsdl:message name="IInsuranceClaimService_GetInsuranceClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsuranceClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IInsuranceClaimService_ClaimInsurance_InputMessage">
    <wsdl:part name="parameters" element="tns:ClaimInsurance" />
  </wsdl:message>
  <wsdl:message name="IInsuranceClaimService_ClaimInsurance_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClaimInsuranceResponse" />
  </wsdl:message>
  <wsdl:portType name="IInsuranceClaimService">
    <wsdl:operation name="GetInsuranceClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsuranceClaimService/GetInsuranceClaim" message="tns:IInsuranceClaimService_GetInsuranceClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsuranceClaimService/GetInsuranceClaimResponse" message="tns:IInsuranceClaimService_GetInsuranceClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClaimInsurance">
      <wsdl:input wsaw:Action="http://tempuri.org/IInsuranceClaimService/ClaimInsurance" message="tns:IInsuranceClaimService_ClaimInsurance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInsuranceClaimService/ClaimInsuranceResponse" message="tns:IInsuranceClaimService_ClaimInsurance_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInsuranceClaimService" type="tns:IInsuranceClaimService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInsuranceClaim">
      <soap:operation soapAction="http://tempuri.org/IInsuranceClaimService/GetInsuranceClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClaimInsurance">
      <soap:operation soapAction="http://tempuri.org/IInsuranceClaimService/ClaimInsurance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsuranceClaimService">
    <wsdl:port name="BasicHttpBinding_IInsuranceClaimService" binding="tns:BasicHttpBinding_IInsuranceClaimService">
      <soap:address location="http://localhost:50107/InsuranceClaimService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>