HealthSmartWebApp/HealthSmartWebApp/Service References/InsuranceClaimServiceReference/InsuranceClaimService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50107/InsuranceClaimService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InsuranceClaimService" />
  <xs:element name="GetInsuranceClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subscriberId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InsuranceClaimService" minOccurs="0" name="GetInsuranceClaimResult" nillable="true" type="q1:ArrayOfInsuranceClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimInsurance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InsuranceClaimService" minOccurs="0" name="insuranceClaims" nillable="true" type="q2:ArrayOfInsuranceClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimInsuranceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimInsuranceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>