HealthSmartWebApp/HealthSmartWebApp/Service References/InsuranceClaimServiceReference/InsuranceClaimService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InsuranceClaimService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InsuranceClaimService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInsuranceClaim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InsuranceClaim" nillable="true" type="tns:InsuranceClaim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInsuranceClaim" nillable="true" type="tns:ArrayOfInsuranceClaim" />
  <xs:complexType name="InsuranceClaim">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Charge" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiagnosisCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsuranceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MedicalProcedureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsuranceClaim" nillable="true" type="tns:InsuranceClaim" />
</xs:schema>